body {  
    background-image: url(/background-img.jpg);
}

#pressedKey-container {
    margin-left: 25%;
    margin-top: 5%;
    border: solid white 3px;
    display: inline-block;
    justify-content: center;
    align-content: center;
    width: 50vw;
    height: 35vw;
    text-align: center;

}


#clickBlocker {
    /* position: absolute; */
    top: 0%;
    width: 100%;
    height: 100%;
    cursor:auto;
    outline: none;
    display: none;
    z-index: 2;
}


#pressBorder {
    /* position: absolute; */
    top: 0%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    display: block;
    z-index: 1;
}

.dummies {
    height: 15vw;
    background-color: rgba(128, 0, 0, 0.493);
    border-radius: 20vw;
    position: absolute;
    padding: 4vw 4vw 4vw 4vw;
    transition: 0.05s ease-out;
    outline: none;
}

#first-dummy {
    top: 30%;
    left: 30.5%;
}

#second-dummy {
    top: 25%;
    right: 30.5%;
    display: none;
}

#second-dummy-F {
    top: 25%;
    right: 30.5%;
    display: block;
}

#first-dummy:hover {
    transform: scale(1.04);
}

#second-dummy:hover {
    transform: scale(1.04);
}

#second-dummy-F:hover {
    transform: scale(1.04);
}

#end-message {
    color: white;
    position: absolute;
    left: 34.5%;
    top: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vw;
    z-index: 1000;
}

#restart {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 1.5vw;
    top: 45%;
    left: 43%;
    z-index: 1000;
}

.output-container {
    margin-top: 0%;
    display: flex;
    gap: 3vw;
    justify-content: center;
}

.output12 {
    display: flex;
}

#first-output {
    gap: 1vw;
}

#second-output {
    gap: 1vw;
}

#combo-timer {
    color: rgb(0, 153, 255);
    font-size: 5vw;
}

.outputs {
    display: flex;
    border: solid white 1px;
    width: 5vw; 
    height: 5vw;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.671);
}

.stats {
    position: absolute;
    width: 8vw;
    height: 10vw;
    left: 76vw;
    top: 10vw;
    border: solid white 3px;
    display: block;
    font-size: 1vw;
    color: white;
}

.stats * {
    padding-left: 0.5vw;
}

#stats-button {
    position: absolute;
    top: 21vw;
    right: 18.3vw;
}

